[Desktop Entry]
Type=Application
Name=Tetzle
Name[cs]=Tetzle
Name[de]=Tetzle
Name[ms]=Tetzle
Name[pl]=Tetzle
Name[ro]=Tetzle
Name[tr]=Tetzle
GenericName=Jigsaw Puzzle Game
GenericName[cs]=Skládanka
GenericName[de]=Puzzlespiel
GenericName[ms]=Permainan Teka-teki Susun Suai Gambar
GenericName[pl]=Gra puzzle
GenericName[ro]=Joc puzzle
GenericName[tr]=Yap-Boz Bulmaca Oyunu
Comment=Jigsaw puzzle with tetromino pieces
Comment[cs]=Skládanka s díly ve tvaru tetromina
Comment[de]=Ein Puzzlespiel mit Tetrominos als Puzzleteile
Comment[ms]=Teka-teki susun suai gambar dengan kepingan tetromino
Comment[pl]=Gra puzzle z części o kształcie tetromina
Comment[ro]=Joc puzzle cu piese teromino
Comment[tr]=Tetris benzeri parçalı bir yap-boz oyunu
Icon=tetzle
TryExec=tetzle
Exec=tetzle %F
Terminal=false
MimeType=image/bmp;image/gif;image/jpg;image/jpeg;image/png;image/x-png;image/x-ico;image/tiff;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/svg+xml;image/svg+xml-compressed;
Categories=Qt;Game;LogicGame;
