[Desktop Entry]
Type=Application
Name=Tetzle
Name[ca]=Tetzle
Name[cs]=Tetzle
Name[de]=Tetzle
Name[es]=Tetzle
Name[lt]=Tetzle
Name[ms]=Tetzle
Name[nl]=Tetzle
Name[pl]=Tetzle
Name[pt_BR]=Tetzle
Name[ro]=Tetzle
Name[ru]=Tetzle
Name[tr]=Tetzle
GenericName=Jigsaw Puzzle Game
GenericName[ca]=Joc de trencaclosques Jigsaw
GenericName[cs]=Skládanka
GenericName[de]=Puzzlespiel
GenericName[es]=Juego Rompecabezas Puzzle
GenericName[he]=משחק פאזל משונן
GenericName[lt]=Dėlionės žaidimas
GenericName[ms]=Permainan Teka-teki Susun Suai Gambar
GenericName[nl]=Legpuzzle spel
GenericName[pl]=Gra puzzle
GenericName[pt_BR]=Jogo de quebra-cabeças
GenericName[ro]=Joc puzzle
GenericName[ru]=Игра-головоломка
GenericName[tr]=Yap-Boz Bulmaca Oyunu
Comment=Jigsaw puzzle with tetromino pieces
Comment[ca]=Trencaclosques Jigsaw amb peces de tetròmino
Comment[cs]=Skládanka s díly ve tvaru tetromina
Comment[de]=Puzzlespiel mit Tetromino-Puzzleteilen
Comment[es]=Puzzle con piezas tetromino
Comment[lt]=Dėlionė su tetromino figūromis
Comment[ms]=Teka-teki susun suai gambar dengan cebisan tetromino
Comment[nl]=Legpuzzel met tetromino stukjes
Comment[pl]=Gra puzzle z części o kształcie tetromina
Comment[pt_BR]=Quebra-cabeças com peças em formato de tetris
Comment[ro]=Joc puzzle cu piese teromino
Comment[ru]=Игра-головоломка с тетрамино
Comment[tr]=Tetris benzeri parçalı bir yap-boz oyunu
Icon=tetzle
TryExec=tetzle
Exec=tetzle %F
Terminal=false
MimeType=image/bmp;image/gif;image/jpg;image/jpeg;image/png;image/x-png;image/x-ico;image/tiff;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/svg+xml;image/svg+xml-compressed;
Categories=Qt;Game;LogicGame;
Keywords=game;logic;
